.container {
  justify-content: space-around;

  .action-button-row {
    display: flex;
    justify-content: flex-start;
    gap: var(--layout-gap-size);
  }

  .tasks {
    display: inline-flex;
    flex-direction: column;
    margin: 5px;
    width: min(calc(100vw - var(--layout-padding)), var(--layout-width-max));
    gap: var(--layout-gap-size);

    mat-card {
      padding: var(--layout-padding);
      height: 200px; // Set a fixed height for each card
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &.complete {
        background-color: var(--success-color);
      }
      .high-priority {
        color: var(--error-color);
      }
      .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: var(--layout-gap-size);

        .card-actions {
          display: flex;
          gap: var(--layout-gap-size);
        }
      }

      mat-card-content {
        overflow-y: auto;
      }
    }
  }
}
