$primary-color: #3f51b5; 
$warn-color: #f44336;
$accent-color: #ff4081;

$primary-color-dark: darken($primary-color, 10%);
$warn-color-dark: darken($warn-color, 10%);
$accent-color-dark: darken($accent-color, 10%);
.container {
  justify-content: space-around;

  .action-button-row {
    display: flex;
    justify-content: flex-start;
    gap: var(--layout-gap-size);
    .action-button {
      transition: background-color 0.3s, transform 0.3s, color 0.3s;
  
      &.addTask-button:hover {
        background-color: $accent-color-dark;
        color: black;
      }
    }
  }

  .tasks {
    display: inline-flex;
    flex-direction: column;
    margin: 5px;
    width: min(calc(100vw - var(--layout-padding)), var(--layout-width-max));
    gap: var(--layout-gap-size);

    mat-card {
      padding: var(--layout-padding);
      height: 200px; // Set a fixed height for each card
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: transform 0.3s, box-shadow 0.3s; // Add transition for smooth effect
      &:hover {
        transform: scale(1.02); // Slightly increase the size of the card
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Add shadow effect
      }
      &.complete {
        background-color: var(--success-color);
      }
      .high-priority {
        color: var(--error-color);
      }
      .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: var(--layout-gap-size);

        .card-actions {
          display: flex;
          gap: var(--layout-gap-size);

          .action-button {
            transition: background-color 0.3s, transform 0.3s, color 0.3s;
            // &:hover {
            //   transform: scale(1.1); // Slightly increase the size of the button
            // }

            &.done-button:hover {
              background-color:  $primary-color-dark;
              color: black;;
            }

            &.delete-button:hover {
              background-color:  $warn-color-dark;
              color: black;;
            }

          }
        }
      }

      mat-card-content {
        overflow-y: auto;
      }
    }
  }
}
