.container {
  min-height: 100vh;
  height: max(100%, 100vh);
  display: flex;
  width: 100vw;
  padding: 16px 16px 24px 16px; /* Add padding */
  justify-content: center; /* Assuming you want to center the content */
}
